<div class="scores">
  <div class="scoreContainer">
    <div class="fieldLabel">Score</div>
    <div class="scoreAndMultiplier">
      <div class="currentScore">{{ gameState.score }}</div>
      <div class="combo">{{ gameState.combo }}</div>
      <div class="scoreMultiplier" class="m-fadeOut">{{ gameState.multiplier }}</div>
    </div>
  </div>
  <div class="personalBestScoreContainer">
    <div class="fieldLabel">Personal Best</div>
    <div class="personalBestScore">{{ gameState.highScore }}</div>
  </div>
</div>
