<app-song-details
  [hidden]="!supportedComponents.songDetails"
  [gameState]="(gameState$ | async) || gameState"
  [ngClass]="{'m-fadeOut': gameState.title == '', 'm-fadeIn': gameState.title != ''}"></app-song-details>
<app-song-status
  [hidden]="!supportedComponents.songStatus"
  [gameState]="(gameState$ | async) || gameState">
</app-song-status>
<app-score
  [hidden]="!supportedComponents.score"
  [gameState]="(gameState$ | async) || gameState">
</app-score>
<app-player-health
  [hidden]="!supportedComponents.playerHealth"
  [gameState]="(gameState$ | async) || gameState">
</app-player-health>
<button (click)="testUpdate()">Test update</button>
<button (click)="testClear()">Test clear</button>
